@tailwind base;
@tailwind components;
@tailwind utilities;

.a_hover{
    color: #808080;
}
.a_hover:hover{
    color: blue;
}
.div-header{
    position: fixed;
    z-index: 999;
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}