@tailwind base;
@tailwind components;
@tailwind utilities;

.a_hover{
    color: #808080;
}
.a_hover:hover{
    color: blue;
}
.div-header{
    position: sticky;
    z-index: 999;
    height: 50px;
    width: 100%;
    top: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}